.cb-grid-lines {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  z-index: 1000;
}

.cb-grid-lines .row {
  height: 100%;
  border-left: 1px solid red;
  border-right: 1px solid red;
}

.cb-grid-lines [class*="small-"] {
  height: 100%;
}

.cb-grid-lines .inner {
  height: 100%;
  border-right: 1px solid green;
  border-left: 1px solid green;
}
